<!--
============================================
; Title: Exercise 3.2
; Author: Professor Krasso
; Date: 13 August 2018
; Modified By: Matthew Smith
; Description: This program demonstrates
; how to use logging middleware in Node/Express.
;===========================================
*/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morgan Logger Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div role="main" class="container">
        <h2><%= message.split('|')[0] %></h2>
        <p><%= message.split('|')[1] %></p>
    </div>
</body>
</html>