<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>If Else Render</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Name List</h2>
        <% if(names.length > 0) { %>
            <ul>
            <% for(var i = 0; i < names.length; i++) { %>
                <li><%= names[i] %></li>
            <% } %>
            </ul>
        <% } %>
    </div>
</body>
</html>